[user]
    name = Steven Dwy
    email = yoplitein+git@gmail.com

[push]
    default = current

[color]
    ui = true

[alias]
    ls = status
    co = checkout
    cm = commit
    rmbranch = branch -d
    ada = add . --all
